body, html {
	font-family: 'Convergence', sans-serif;
	margin: 0;
	font-size: 16px;
	background-color:#f0f4f4;
}
header {
	display: block;
	width: 100%;
}
.naslovna-slika {
	background-image: url("slike/naslovna-slika.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: left;
	padding: 16px 18px;
	text-decoration: none;
	
}
li a:hover {
	background-color: #ff6600;
}

h1, h2 {
	padding: 1em
	margin: 0.5 em;
	font-size: 2em;
	color: #000040;
}

h2 {
	font-size: 1.5em;
	color: #0000d5;
}
main a {
	color: #364a54;
	text-decoration: none;
}
main a:hover {
	color: #ff3300;
	text-decoration: underline;
}
p {
	margin: 2.2em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 0em;
	border: 1.5px dotted #00006a;
	clear: both;
}

.vijesti img {
	width: 40%;
	float: left;
	padding: 0.5em;
	margin: 0.1em 0.5em 0.5em;
}
.vijesti h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #27318b;
}
.vijesti hr {
	margin: 1em;
	border: 1px dotted #663300;
	clear: both;
}
.vijesti time {
	font-size: 90%;
	font-style: italic;
}
.vijesti {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}

#galerija_novosti figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 20%;
	border: 1px solid black;
}
#galerija_novosti figcaption {
	font-size: 80%;
	text-align: center;
}
figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 25%;
	border: 3px solid black;
	background: #d0d1d9;
}
figcaption {
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: 90%;
	
}
img {
	width: 100%;
}
.kontakt {
	margin: 1em
	}
.onama {
	margin: 1em
	}
.pocetna {
margin: 1em
}
.galerija {
margin: 1em
}
label {
	display: block;
}
input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1.5px solid #a0a5c0;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-family: 'Oswald', sans-serif;
	font-size: 95%;
}

input[type=submit] {
    display: block;
	background-color: #3399ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 35%;
}

input[type=submit]:hover {
    background-color: #004080;
}
footer {
	background-color: #333;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}

@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	.vijesti img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.vijesti time {
		margin: 0 0 0 1em;
	}
	#galerija_novosti figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 90%;
		border: 1px solid black;
	}
	#galerija_novosti figcaption {
		font-size: 90%;
		text-align: center;
	}
}
